---
import Section from "./Section.astro";
---
<Section
  id="tanfolyamok"
  title="Tanfolyamtípusok"
  desc="A célodhoz illeszkedő kurzusok: vizsga, munka, tanulmányok vagy korrepetálás."
>
  <div class="stack">
    <div class="card">
      <span class="badge">Tanfolyamtípusok</span>
      <hr class="sep" />
      <ul class="list">
        <li class="li"><span class="check">✓</span>általános nyelvoktatás, társalgás</li>
        <li class="li"><span class="check">✓</span>nyelvvizsga-felkészítés (alap-, közép-, felsőfok)</li>
        <li class="li"><span class="check">✓</span>üzleti, gazdasági szakirány nyelvvizsga vagy munkavégzés céljából</li>
        <li class="li"><span class="check">✓</span>tudományos (cikkírás, szakdolgozat, disszertáció)</li>
        <li class="li"><span class="check">✓</span>iskolai korrepetálás (általános-, középiskola, felsőoktatás)</li>
      </ul>
    </div>
  </div>
</Section>
