---
import Section from "./Section.astro";
---
<Section
  id="beiratkozas"
  title="Beiratkozás"
  desc="Telefonos szint- és igényfelmérés után rugalmas időpont-egyeztetés."
>
  <div class="stack">
    <div class="card">
      <span class="badge">Folyamat</span>
      <hr class="sep" />
      <p>
        A beiratkozást telefonos szint- és igényfelmérés előzi meg. Saját időbeosztásod és tanáraink órarendje alapján
        kölcsönösen megfelelő időpontot keresünk neked. Az időpontok kiválasztását követően kurzusod azonnal indulhat.
      </p>
    </div>
  </div>
</Section>
