---
import Section from "./Section.astro";
---
<Section
  id="szolgaltatasok"
  title="Szolgáltatások"
  desc="Működési keretek és nyelvi szintek röviden."
>
  <div class="stack">
    <div class="card">
      <span class="badge">Szolgáltatások</span>
      <hr class="sep" />
      <ul class="list">
        <li class="li"><span class="check">✓</span>online nyelvoktatás internetes, illetve telefonos platformon</li>
        <li class="li"><span class="check">✓</span>egyfős, maximum kétfős létszám</li>
        <li class="li"><span class="check">✓</span>angol, német: alap-, közép-, felsőfok</li>
        <li class="li"><span class="check">✓</span>francia: alapfok</li>
      </ul>
    </div>
  </div>
</Section>
